<!DOCTYPE html>
<html>
  <head>
    <title>Home | Ruby on Rails app</title>
  </head>
  <body>
    <h1>Sample App</h1>
    <p>
     This is the home page for Akshats Ruby On Rails Application
    </p>
  </body>
</html>